
body{
    padding:0;
    margin:0;
    font-family: sans-serif;
}
@media (min-width:300px) and (max-width: 495px){
    .topcontainer{
        display:flex;
        flex-wrap: wrap;
    }
    
}
.topcontainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding:5rem;
    background: linear-gradient(180deg,#232c7a,pink),url(Assets\bg.jpg);
    background-size: cover;
    background-blend-mode: screen;
}
h1{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #FFFFFF;
}
.menubtn{
    border-radius: 0.375rem;
}
.menubtn:hover{
    background: #fabcc9;
    border-radius: 0.375rem;
}
.demobtn{
    border-radius: 0.375rem;
    padding: 0.55rem;
    background: transparent;
    border-color: #262e7b;
    color: #262e7b;
}
.demobtn:hover{
    background-color: #30347e;
    color: white;
    transform: scale(1.10);

}
#codeimg{
    position: relative;
    left:15px;
}
.cardheading{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size:50px;
    color: #282f7c;
    margin: 20px;
}
.whyuscontainer{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 50px;


}
.card{
    width: 220px;
    height: 150px;
    margin: 10px;
    padding: 5px;
    border-radius: 2.75rem;
    border-color: #1e2436;
}
.card-image{
    height: 150px;
    margin-bottom:15px ;
}
.card-1{
    background-image: url(./Assets/crd1.jpg);
    background-size: cover;
    border-radius: 1.75rem;
}
.card-2{
    background-image: url(./Assets/crd2.webp);
    background-size: cover;
    border-radius: 1.75rem;
}
.card-3{
    background-image: url(./Assets/crd3.jpg);
    background-size: cover;
    border-radius: 1.75rem;
    
}
.card-4{
    background-image: url(./Assets/crd4.jpg);
    background-size: cover;
    border-radius: 1.75rem;
}
.whyuscontainer p{
    padding: 10px;
    font-size: x-small;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: black;
}
.whyuscontainer h6{
    color: #a469bd;
}
.programss{
    height: max-content;
    width:90vw;
    /* background-color: #232c7a; */
    margin: auto;
    margin-bottom: 30px;
    border-radius: 0.755rem;
    box-shadow: 1px 1px 5px black
}
.prgcard{
    width: 400px;
    height: 250px;
    margin: 10px;
    border-radius: 15px;
}
.prgcard:hover{
    transform: scale(1.07);
}
.prgcard-image{
    height: 200px;
    margin-bottom:15px ;

}
.prgcard-1{
    background-image: url(./Assets/python.png);
    background-size: cover;
}

.prgcard-2{
    background-image: url(./Assets/roblox.png);
    background-size: cover;
}
.prgcard-3{
    background-image: url(./Assets/mit.png);
    background-size: cover;
}
.prgcard-4{
    background-image: url(./Assets/webd.webp);
    background-size: cover;
}
.prgcard-5{
    background-image: url(./Assets/scratch.png);
    background-size: cover;
}
.prgcard-6{
    background-image: url(./Assets/code.png);
    background-size: cover;
}
.aboutus{
    height: max-content;
    width:90vw;
    background: linear-gradient(180deg,#00b2c1,#232c7a),url(Assets\bg.jpg);
    margin: auto;
    padding:20px;
    border-radius: 0.755rem;
    box-shadow: 1px 1px 5px black;
    margin-bottom: 30px;
    /* margin-top: 25px; */

}
.aboutimg:hover{
    transform: scale(1.03);

}
.aboutcontainer{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    /* margin-bottom: 70px; */
}
.aboutheading{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size:50px;
    color:#2C327D;
    margin: 20px;
}
.aboutbtn{
    border-radius: 0.575rem;
    padding: 0.55rem;
    margin-top: 20px;
    background: transparent;
    border-color: white;
    color: white;
}
.aboutbtn:hover{
    background-color: pink;
    color:black;
    transform: scale(1.10);

}

#programs {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    background-color: #fff1ea;
    height: 100%;
    padding: 2rem 5rem 5rem 5rem;
}

.all-programs {
    padding-left: 1rem;
    padding-right: 1rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.program {
    display: flex;
    flex-direction: column;
    /* padding: 10px; */
    background-color: white;
    width: 250px;
    height: 390px;
    margin-right: 4vw;
    margin-bottom: 4vw;
    border-radius: 30px;
    box-shadow:  1px 2.8px 2.2px rgba(0, 0, 0, 0.034);
    transition: transform 0.2s;
}

.program:hover {
    transform: scale(1.02);
}

.program .program-logo {
    width: 250px;
    height: 170px;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    overflow: hidden;
    background-size: contain;
}

.program .content {
    padding: 15px;
}

.program .content .title {
    color: #f0a204;
    font-size: 20px;
    font-weight: 600;
}

.program .content .description {
    color: grey;
    font-size: 15px;
}
